<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script defer type="text/javascript" src="../javascript/script.js"></script>

    <title>Bithigh 게시판</title>
</head>
<body>
    <h2 class="container">게시판</h2>
    <div class="container" style="float: left; margin: 30px; margin-right: 20px;">
        <div> 
            <h3 style="text-align: center;">게시물</h3>
        </div>
        <div class="notice_board">
            <!-- title 열 -->
            <ul class="board_row title_row ">
                <li class="w70">번호</li>
                <li class="w500">제목</li>
                <li class="w120">작성자</li>
                <li class="w100">작성일</li>
                <li class="w100">조회</li>
            </ul>
            <!-- 게시글 추가로 들어오는 위치 -->
            <ul class="board_list ">
                <li class="number"></li>
                <li class="title"></li>
                <li class="writer"></li>
                <li class="date"></li>
                <li class="hits"></li>
            </ul>
        </div>

        <!-- 페이지 블럭 -->
        <div class="pagination">
            <button class="before_move" onclick="before()">이전</button>
            <div class="block">
                <!-- 블럭 추가로 들어오는 위치 -->
            </div>
            <button class="next_move" onclick="next()">다음</button>
        </div>
    </div>

    <div class="container" style="margin: 30px; margin-left: 10px; float:right">
        <div>
            <h3 style="text-align: center;">나의 게시물</h3>
        </div>
        <div class="mynotice_board">
            <ul class="title_row">
                <li class="w70">선택</li>
                <li class="w500">제목</li>
            </ul>
        </div>
        <div class="pagination">
            <button class="before_move" onclick="before()">이전</button>
            <div class="block">
            <!-- 블럭 추가로 들어오는 위치 -->
            </div>
            <button class="next_move" onclick="next()">다음</button>
        </div>  
    </div>
    <!--
    <div>
      <button class="btn">작성</button>
      <button class="btn">삭제</button>
      <button class="btn">수정</button>
    </div>
    -->
</body>
</html>